/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';
  /* Project id 4018059 */
  src: url('https://at.alicdn.com/t/c/font_4018059_miwsg6n7m98.woff2?t=1681616813681') format('woff2'),
    url('https://at.alicdn.com/t/c/font_4018059_miwsg6n7m98.woff?t=1681616813681') format('woff'),
    url('https://at.alicdn.com/t/c/font_4018059_miwsg6n7m98.ttf?t=1681616813681') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nv:before {
  color: #CDD3E6;
  content: "\e644";
}

.icon-nan:before {
  color: #CDD3E6;
  content: "\e643";
}

.icon-yinshibaike:before {
  color: #CDD3E6;
  font-size: 80rpx;
  content: "\e626";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40rpx;
  margin-top: -40rpx;
}

.icon-icon:before {
  color: #CDD3E6;
  content: "\e6a0";
}

.icon-shujufenxi-liuliangfenxi:before {
  font-size: 80rpx;
  color: #CDD3E6;
  content: "\e600";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40rpx;
  margin-top: -40rpx;
}